.about {
	&__row {
		margin: 2% 0;

		&--text-photo {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			.about__text {
				width: 40%;
			}

			.about__image {
				width: 55%;
			}
		}

		&--photo-text {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			.about__text {
				width: 30%;
			}

			.about__image {
				width: 65%;
			}
		}

		&--columns {
			display: flex;
			gap: 1%;

			.about__column {
				flex: 1;
				display: flex;
				flex-direction: column;

				.about__text,
				.about__image {
					flex: 1;
				}
			}
		}

		&--text-only {
			text-align: left;
		}
	}

	&__title {
		font-family: 'Cormorant', serif;
		font-style: italic;
		font-weight: bold;
		font-size: 3rem;
		text-align: center;
		color: #ffffff;
		margin: 1% 0;
	}

	&__description {
		font-family: 'PT-Sans', sans-serif;
		font-size: 1.5rem;
		letter-spacing: 2px;
		line-height: 150%;
		color: #828282;
		margin: 2% 0;
	}

	&__image-content {
		width: 100%;
		height: auto;
	}

	&__list {
		list-style: none;
		padding: 0;
		font-family: 'PT-Sans', sans-serif;
		font-size: 1.5rem;
		letter-spacing: 2px;
		line-height: 150%;
		color: #828282;
	}

	&__list-item {
		margin-bottom: 10px;
	}

	@media (max-width: 1080px) {
		& {
			&__row {
				&--text-photo,
				&--photo-text {
					flex-direction: column;

					&__text,
					&__image {
						width: 100%;
					}
				}

				.about__image,
				.about__text {
					width: 100%;
				}

				&--columns {
					flex-direction: column;
					gap: 30px;
					
					&__column {
						flex-direction: column;
					}
				}
			}
		}
	}
}
	
@media (max-width: 768px) {
	.header {
		display: none;
	}
	.about {
		&__title {
			font-size: 2.25rem;
		}

		.about__description {
			font-size: 1.5rem;
		}

		.about__list {
			font-size: 1.5rem;
		}
		.about__row {
			.about--text-photo,
			.about--photo-text {
				flex-direction: column;

				.about__text,
				.about__image {
					width: 100%;
				}
			}

			.about--columns {
				flex-direction: column;
				gap: 30px;

				.about__column {
					flex-direction: column;
				}
			}
		}
	}
}
	@media (max-width: 480px) {
		.about {
			.about__title {
				font-size: 1.5rem;
			}

			.about__description {
				font-size: 0.75rem;
			}

			.about__list {
				font-size: 0.75rem;
			}
		}
	}
