.news-detail {
	max-width: 1180px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	color: #333;
	font-family: 'Cormorant';
	font-style: italic;

	&::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: #010000;
		background-image: url('../assets/images/background.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		filter: blur(3px);
		opacity: 0.1;
		z-index: -1;
	}

	&__main {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 0 auto;
		max-width: 1180px;
		background: rgba(255, 255, 255, 0.1);
		padding: 30px;
		border-radius: 12px;
		box-shadow: 0 0 20px rgb(255, 255, 255, 0.1);
		font-family: 'PT-Sans', sans-serif;
		position: relative;
		z-index: 1;
	}

	&__image {
		width: auto;
		max-height: 1000px;
		object-fit: cover;
		border-radius: 14px;
		margin: 0 auto;
		display: block;
	}
}
.news__controls_input {
	background-color: #3333;
	border: 1px solid #333;
	align-items: center;
	border-radius: 24px;
}

	.news-detail__main {
		text-align: left;
		color: #ffffff;
	}
	.news-detail__sidebar {
		text-align: center;
		margin-top: 40px;
	}
	.news-detail__other-news {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.news-detail__sidebar h2 {
		font-size: 2.8rem;
		margin-bottom: 1rem;
		font-family: 'cormonara';
	}
	.news-detail__sidebar a {
		display: block;
		height: 80px;
		width: 270px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 10px;
		text-decoration: none;
		font-family: 'PT-Sans';
		font-style: normal;
		color: #d4a373;
		color: #a80000;
		font-size: 1.8rem;
		padding: 20px;
		transition: background-color 0.3s ease;
	}
	.news-detail__sidebar a:hover {
		background-color: #181818;
	}
	.news-detail__title {
		font-family: 'Cormon';
		font-size: 2.8rem;
	}
	.news-detail img {
		max-width: 100%;
		height: auto;
		margin-bottom: 1rem;
	}
	.news-detail__date {
		font-family: 'PT-Sans';
		font-style: normal;
		font-size: 1.4rem;
		color: #ffffff;
		margin-bottom: 1.5rem;
	}
	.news-detail__text p {
		margin-bottom: 1.5rem;
		font-size: 2rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.6;
	}
	.news-detail__text ul {
		list-style-type: disc;
		margin-left: 20px;
		font-size: 1.7rem;
		font-style: normal;
		font-weight: 400;
		margin-bottom: 2rem;
	}
	.news-detail__text blockquote {
		font-style: italic;
		border-left: 3px solid #a80000;
		padding-left: 10px;
		font-size: 1.7rem;
		font-weight: 400;
		margin: 2rem 0;
		color: #ffffff;
	}
	.news-detail__back {
		display: inline-block;
		margin-top: 20px;
		color: #d4a373;
		font-weight: bolder;
		font-style: italic;
		text-decoration: underline;
		font-size: 1.7rem;
		width: 220px;

		&:hover {
			color: darken(#d4a373, 10%);
		}
	}