.news-detail {
	max-width: 1180px;
	margin: 0 auto;
	margin: 2% 0;
	display: flex;
	color: #ffffff;
	font-family: 'Cormorant';
	font-style: italic;

	&__main {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 0 auto;
		max-width: 1180px;
		background: rgba(255, 255, 255, 0.1);
		padding: 30px;
		border-radius: 12px;
		box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
		font-family: 'PT-Sans', sans-serif;
		position: relative;
		z-index: 1;

		&--text-align-left {
			text-align: left;
			color: #ffffff;
		}
	}

	&__image {
		width: auto;
		max-height: 1000px;
		object-fit: cover;
		border-radius: 14px;
		margin: 0 auto;
		display: block;
	}

	&__sidebar {
		text-align: center;
		margin-top: 40px;

		& h2 {
			font-size: 2.8rem;
			margin-bottom: 1rem;
			font-family: 'Cormorant';
		}

		& a {
			display: block;
			height: 80px;
			width: 270px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-bottom: 10px;
			text-decoration: none;
			font-family: 'PT-Sans';
			font-style: normal;
			color: #a80000;
			font-size: 1.8rem;
			padding: 20px;
			transition: background-color 0.3s ease;

			&:hover {
				background-color: #181818;
			}
		}
	}

	&__other-news {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__title {
		font-family: 'Cormorant';
		font-size: 2.8rem;
	}

	& img {
		max-width: 100%;
		height: auto;
		margin-bottom: 1rem;
	}

	&__date {
		font-family: 'PT-Sans';
		font-style: normal;
		font-size: 1.4rem;
		color: #ffffff;
		margin-bottom: 1.5rem;
	}

	&__text {
		& p {
			margin-bottom: 1.5rem;
			font-size: 2rem;
			font-style: normal;
			font-weight: 400;
			line-height: 1.6;
		}

		& ul {
			list-style-type: disc;
			margin-left: 20px;
			font-size: 1.7rem;
			font-style: normal;
			text-align: left;
			font-weight: 400;
			margin-bottom: 2rem;
		}

		& blockquote {
			font-style: italic;
			border-left: 3px solid #a80000;
			padding-left: 10px;
			font-size: 1.7rem;
			text-align: left;
			font-weight: 400;
			margin: 2rem 0;
			color: #ffffff;
		}
	}

	&__back {
		display: inline-block;
		margin-top: 20px;
		color: #d4a373;
		font-weight: bolder;
		text-align: left;
		font-style: italic;
		text-decoration: underline;
		font-size: 1.7rem;
		width: 220px;

		&:hover {
			color: darken(#d4a373, 10%);
		}
	}

	@media (max-width:768px) {
		&__main {
			padding: 0 3%;
		}

		&__sidebar {	
			& h2 {
				font-size: 2rem;
				margin-bottom: 0.5rem;
			}
	
			& a {
				font-size: 1.25rem;
			}
		}
	
		&__title {
			font-size: 2.25rem;
		}
	
		&__date {
			font-size: 1rem;
			margin-bottom: 1rem;
		}
	
		&__text {
			& p {
				margin-bottom: 1.5rem;
				font-size: 1.5em;
			}
	
			& ul {
				margin-left: 20px;
				text-align: left;
				font-size: 1.3rem;
			}
	
			& blockquote {
				font-size: 1.3rem;
				text-align: left;
			}
		}
	
		&__back {
			text-align: left;
			font-size: 1.5rem;
		}
	}
	@media (max-width:480px) {
		&__sidebar {
	
			& h2 {
				font-size: 1.75rem;
				margin-bottom: 0.25rem;
			}
	
			& a {
				font-size: 1.25rem;
			}
		}
	
		&__title {
			font-size: 1.5rem;
		}
	
		&__date {
			font-size: rem;
			margin-bottom: 1rem;
		}
	
		&__text {
			& p {
				margin-bottom: 0.75rem;
				font-size: 1em;
			}
	
			& ul {
				font-size: 1rem;
			}
	
			& blockquote {
				font-size: 1rem;
			}
		}
	
		&__back {
			text-align: left;
			font-size: 1.25rem;
		}
	}
}
