.afisha {
	display: flex;
	flex-direction: column;
	&__title {
		h2 {
			font-family: 'Cormorant';
			font-style: italic;
			font-weight: bolder;
			color: #ffffff;
			font-size: 3rem;
			text-align: center;
			margin: 0 auto;
			margin: 1rem 0;
		}
	}

	&__show {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	&__event_slider {
		position: relative;
		display: flex;
		align-items: center;
		width: 30%;
		margin: 0 40px;
		position: relative;
	}

	&__event_slides {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__event_slide {
		flex-direction: column;
		align-items: center;
		width: 100%;
		opacity: 0;
		display: none;

		&.active {
			display: flex;
			opacity: 1;
			z-index: 1;
		}
	}

	.afisha__event_image {
		width: 100%;
		height: auto;
		border-radius: 50%;
		object-fit: cover;
		cursor: pointer;
	}

	&__event_content {
		padding: 10px;
		text-align: center;
	}

	&__event_title {
		font-family: 'Cormorant';
		font-style: italic;
		font-size: 1.5rem;
		color: #ffffff;
		margin: 25px 0 10px 0;
	}

	&__event_time {
		font-family: 'PT-Sans';
		font-size: 1rem;
		color: #828282;
		margin: 5px 0;
	}

	&__event_noevents {
		font-family: 'PT-Sans';
		font-size: 1.5rem;
		width: 100%;
		height: 100%;
		top: 101%;
		left: 50%;
		color: #828282;
		position: absolute;
		text-align: center;
		transform: translate(-50%, -50%);
	}

	&__event_arrow {
		position: absolute;
		top: 60%;
		transform: translateY(-50%);
		background: none;
		border: none;
		cursor: pointer;

		svg {
			width: 32px;
			height: 64px;
		}

		&:hover:not(:disabled) svg {
			transform: scale(1.1);
			transition: transform 0.3s ease;
		}

		&:disabled {
			opacity: 0.3;
			cursor: auto;
		}
	}

	&__event_arrow_prev {
		left: -40px;
	}

	&__event_arrow_next {
		right: -40px;
	}

	// календарь
	.calendar {
		height: 480px;
		width: 43%;
		overflow: hidden;
		table {
			border-collapse: collapse;
			caption {
				margin: 0 auto;
				margin-bottom: 8.9%;
				color: #ffffff;
				font-size: 2rem;
				font-family: 'PT-Sans';

				.text {
					width: 240px;
					display: inline-block;
				}
			}
			thead {
				th {
					font-family: 'PT-Sans';
					color: #ffffff;
					font-weight: 100;
					font-size: 2rem;
				}
			}
			tbody {
				height: 80.3%;
				tr {
					td {
						width: 10%;
						color: #828282;
						font-family: 'Cormorant', serif;
						font-size: 3rem;
						font-weight: bold;
						cursor: pointer;
						text-align: center;
					}
					td.istoday {
						color: #a80000;
					}
					td.has-events {
						position: relative;
						&::after {
							content: '';
							position: absolute;
							bottom: -8%;
							left: 50%;
							transform: translateX(-50%);
							width: 6px;
							height: 6px;
							background-color: #a80000;
							border-radius: 50%;
						}
					}
					td.selected {
						background-color: rgba(255, 255, 255, 0.1);
					}
					td:hover {
						background-color: rgba(255, 255, 255, 0.2);
					}
				}
			}
		}
	}

	.afisha__arrow {
		background: none;
		border: none;
		cursor: pointer;

		svg {
			margin-bottom: -8px;
		}

		&_left {
			margin-right: 10px;
		}

		&_right {
			margin-left: 10px;
		}

		&:hover svg {
			transform: scale(1.2);
			transition: transform 0.3s ease;
		}
	}

	@media (max-width: 1024px) {
		&__title {
			h2 {
				font-size: 3rem;
			}
		}

		&__show {
			justify-content: space-around;
			gap: -50px;
		}

		&__event_slider {
			width: 30%;
		}

		&__event_content {
			padding: 8px;
		}

		&__event_title {
			font-size: 1.5rem;
			margin: 20px 0 8px 0;
		}

		&__event_time {
			font-size: 1rem;
			margin: 3px 0;
		}

		&__event_noevents {
			font-size: 1.5rem;
		}

		&__event_arrow {
			svg {
				width: 26px;
				height: 52px;
			}
		}

		&__event_arrow_prev {
			left: -25px;
		}

		&__event_arrow_next {
			right: -25px;
		}

		// календарь
		.calendar {
			height: 400px;
			width: 45%;
			table {
				caption {
					margin-bottom: 7%;
					font-size: 1.6rem;

					.text {
						width: 180px;
					}
				}
				thead {
					th {
						font-size: 1.6rem;
					}
				}
				tbody {
					tr {
						td {
							font-size: 2.5rem;
						}
					}
				}
			}
		}

		.afisha__arrow {
			background: none;
			border: none;
			cursor: pointer;

			svg {
				margin-bottom: -12px;
				width: 15px;
			}

			&_left {
				margin-right: 5px;
			}

			&_right {
				margin-left: 5px;
			}

			&:hover svg {
				transform: scale(1.2);
				transition: transform 0.3s ease;
			}
		}
	}

	@media (max-width: 768px) {
		&__title {
			h2 {
				font-size: 2.25rem;
			}
		}

		&__show {
			justify-content: space-around;
			gap: -50px;
		}

		&__event_slider {
			max-width: 130px;
			width: 25%;
		}

		&__event_content {
			padding: 8px;
		}

		&__event_title {
			font-size: 0.75rem;
			margin: 20px 0 8px 0;
		}

		&__event_time {
			font-size: 0.9rem;
			margin: 3px 0;
		}

		&__event_noevents {
			font-size: 1rem;
		}

		&__event_arrow {
			svg {
				width: 20px;
				height: 46px;
			}
		}

		&__event_arrow_prev {
			left: -25px;
		}

		&__event_arrow_next {
			right: -25px;
		}

		// календарь
		.calendar {
			height: 260px;
			width: 45%;
			table {
				caption {
					margin-bottom: 7%;
					font-size: 1.25rem;

					.text {
						width: 130px;
					}
				}
				thead {
					th {
						font-size: 1.25rem;
					}
				}
				tbody {
					tr {
						td {
							font-size: 1.5rem;
						}
					}
				}
			}
		}

		.afisha__arrow {
			background: none;
			border: none;
			cursor: pointer;

			svg {
				margin-bottom: -15px;
				width: 12px;
			}

			&_left {
				margin-right: 5px;
			}

			&_right {
				margin-left: 5px;
			}

			&:hover svg {
				transform: scale(1.2);
				transition: transform 0.3s ease;
			}
		}
	}

	@media (max-width: 480px) {
		&__title {
			h2 {
				font-size: 1.5rem;
			}
		}

		&__show {
			flex-direction: column-reverse;
			justify-content: center;
			gap: 0;
		}

		&__event_slider {
			max-width: max-content;
			height: 100%;
			margin: 0 auto;
			width: 100%;
		}

		&__event_slides {
			min-height: 100px;
			margin: 0 auto;
			width: 50%;
			margin-bottom: 10px;
		}

		&__event_content {
			padding: 8px;
		}

		&__event_title {
			font-size: 1rem;
			margin: 20px 0 8px 0;
		}

		&__event_time {
			font-size: 0.75rem;
			margin: 3px 0;
		}

		&__event_noevents {
			position: absolute;
			top: 91%;
			width: 200px;
			font-size: 0.75rem;
		}

		&__event_arrow {
			svg {
				width: 20px;
				height: 46px;
			}
		}

		&__event_arrow_prev {
			left: 50px;
		}

		&__event_arrow_next {
			right: 50px;
		}

		// календарь
		.calendar {
			margin: 0 auto;
			height: 360px;
			width: 90%;
			table {
				width: 100%;
				caption {
					margin: 7% 0;
					font-size: 1.25rem;

					.text {
						width: 160px;
					}
				}
				thead {
					th {
						font-size: 1.25rem;
					}
				}
				tbody {
					tr {
						td {
							font-size: 2rem;
						}
					}
				}
			}
		}

		.afisha__arrow {
			background: none;
			border: none;
			cursor: pointer;

			svg {
				margin-bottom: -14px;
				width: 12px;
			}

			&_left {
				margin-right: 5px;
			}

			&_right {
				margin-left: 5px;
			}

			&:hover svg {
				transform: scale(1.2);
				transition: transform 0.3s ease;
			}
		}
	}
}
