@import '../abstracts/variables';
@import '../abstracts/mixins';

body {
	position: relative;
	background-color: #010000;
	@include flex-column;
	@include flex-center;
}

main {
	display: flex;
	flex-direction: column;
	gap: 3vw;
	max-width: 1180px;
	width: 100%;
}

@media (max-width: #{1180px + 60px}) {
	main {
		padding: 0 3%;
	}
}
