body {
	position: relative;
	background-color: #010000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

main {
	display: flex;
	flex-direction: column;
	gap: 3vw;
	max-width: 1180px;
	width: 100%;
}

@media (max-width: #{1180px + 60px}) {
	main {
		padding: 0 3%;
	}
}
