@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

$text-color: #ffffff;
$menu-width: 250px;

@mixin transition($props...) {
    $transitions: ();
    @each $prop in $props {
        $transitions: append($transitions, #{$prop} 0.3s ease, comma);
    }
    transition: $transitions;
}