@font-face {
	font-family: 'PT-Sans';
	src: url('../fonts/PTSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Molot';
	src: url('../fonts/molot/Molot.otf') format('opentype');
}

@font-face {
	font-family: 'Cormorant';
	src: url('../fonts/Cormorant-Italic-VariableFont_wght.ttf') format('opentype');
}
